{% extends "index.html" %}

{% block content %}

  <div class="mx-auto" style="width: 300px;">

    {% for helper in object_list %}
      {% if helper.remote_addr == ip_number %}
        {{ helper.name }} <br/>
      {% endif %}
    {% endfor %}

    <form method="post">
      {% csrf_token %}
      <table>{{ form }}</table>
      <input type="submit" value="Add Santa Helper" class="btn btn-success">
    </form>

    <table class="mx-auto" style="width: 100px;">
      <tr>
        <td>
        <form action="{% url 'core:result' %}" method="post">
          {% csrf_token %}
          <button type='submit' class="btn btn-danger">Draw</button>
        </form>
        </td>
        <td>
        <form action="{% url 'core:home' %}" method="get">
          <button type='submit' class="btn btn-warning">Clear</button>
        </form>
        </td>
      </tr>
    </table>

  </div>

{% endblock %}
