​
{% load bootstrap4 %}
{% load static %}
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Santa Claus helpers</title>
    ​<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
      {% block styles %}{% bootstrap_css %}{% endblock %}
      {% block scripts %}{% bootstrap_javascript jquery='full' %}{% endblock %}
  </head>

  <body class="text-center p-3 mb-2 bg-success text-white">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active text-white" href="{% url 'core:home' %}">Home</a>
            <a class="nav-link text-white" href="https://en.wikipedia.org/wiki/Saint_Nicholas">Santa Claus</a>
            <a class="nav-link text-white" href="https://gitlab.com/mattelega">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        {% block content %}
          <h2 class="cover-heading" style="color:red">Let's help Santa Claus!</h2>
          <p class="lead">This app will help you choose who you are making a gift to.
                          Just name the people between whom the draw is to take place...</p>
          <p class="lead">
            <a href="{% url 'core:helper_list' %}" class="btn btn-lg btn-danger">Let's start!</a>
          </p>
        {% endblock %}
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p style="font-size: 14px">thank You God for the pleasure of coding :)</p>
          <p style="font-size: 14px">&copy; Mateusz Telega 2020 <a class="text-white" href="https://gitlab.com/mattelega">@GitLab</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>
