{% extends "index.html" %}

{% block content %}

  <div class="mx-auto" style="width: 300px;">
  {% if pairs %}
    {% for pair in pairs %}
      <span>
        {% for name in pair %}
          {% if forloop.counter == 1 %}
            {{ name }}
          {% else %}
            -> {{ name }}
          {% endif %}
        {% endfor %}
      </span><br/>
    {% endfor %}
    <br/>
    <a href="{% url 'core:home' %}" class="btn btn-lg btn-success">Home</a>

  {% else %}
    <p>You did not add any person for draw.</p>
    <a href="{% url 'core:helper_list' %}" class="btn btn-lg btn-danger">Let's start!</a>
  {% endif %}
  </div>

{% endblock %}